
/* Your CSS Code here. */
.item{
    background-color: lightcyan;
    border: 1px solid black;
}
.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    background-color: lightgreen;
}